.auth-page{
  height: 100vh;
  width: 100%;
}
.gradiendText{
  /* background: var(--rainbow-gradient); */
  /* -webkit-text-fill-color: transparent; */
  font:600 50px 'Poppins', sans-serif;
  position: relative;
  box-sizing: border-box;
}
.gradiendText::after {
    content: "";
    position: absolute;
    inset: -0.625em;
    width: 100%;
    box-sizing: border-box;
    background: var(--rainbow-gradient);
    filter: blur(1.7em);
    z-index: -1;
}